section.home-nav
    .container
        .nav-wrapper
            .item
                a(href="#")
                    .box-img
                        img(src="./img/home-nav1.png", alt="")
                    .text
                        span Bảo vệ
            .item
                a(href="#")
                    .box-img
                        img(src="./img/home-nav2.png", alt="")
                    .text
                        span Trang trí
            .item
                a(href="#")
                    .box-img
                        img(src="./img/home-nav3.png", alt="")
                    .text
                        span Nắp thùng
            .item
                a(href="#")
                    .box-img
                        img(src="./img/home-nav8.png", alt="")
                    .text
                        span Mâm vỏ
            .item
                a(href="#")
                    .box-img
                        img(src="./img/home-nav5.png", alt="")
                    .text
                        span Giảm xóc
            .item
                a(href="#")
                    .box-img
                        img(src="./img/home-nav6.png", alt="")
                    .text
                        span Đèn xe
            .item
                a(href="#")
                    .box-img
                        img(src="./img/home-nav7.png", alt="")
                    .text
                        span Cứu hộ
            .item
                a(href="#")
                    .box-img
                        img(src="./img/home-nav8.png", alt="")
                    .text
                        span Cắm trại