section.home-nav
    .container
        .nav-wrapper
            .item
                a(href="#").box-img
                    img(src="./img/home/home-nav1.png", alt="")
                .text
                    a(href="#") Bảo vệ
            .item
                a(href="#").box-img
                    img(src="./img/home/home-nav2.png", alt="")
                .text
                    a(href="#") Trang trí
            .item
                a(href="#").box-img
                    img(src="./img/home/home-nav3.png", alt="")
                .text
                    a(href="#") Nắp thùng
            .item
                a(href="#").box-img
                    img(src="./img/home/home-nav8.png", alt="")
                .text
                    a(href="#") Mâm vỏ
            .item
                a(href="#").box-img
                    img(src="./img/home/home-nav5.png", alt="")
                .text
                    a(href="#") Giảm xóc
            .item
                a(href="#").box-img
                    img(src="./img/home/home-nav6.png", alt="")
                .text
                    a(href="#") Đèn xe
            .item
                a(href="#").box-img
                    img(src="./img/home/home-nav7.png", alt="")
                .text
                    a(href="#") Cứu hộ
            .item
                a(href="#").box-img
                    img(src="./img/home/home-nav8.png", alt="")
                .text
                    a(href="#") Cắm trại