section.home-product
    .container
        .nav-product.tabs.tabs-default.main-tabslet
            ul.tabslet-menu
                li
                    a(href="#tab-1") Sản phẩm bán chạy
                li
                    a(href="#tab-2") Bảo vệ
                li
                    a(href="#tab-3") Trang trí
                li
                    a(href="#tab-4") Nắp thùng
                li
                    a(href="#tab-5") Mâm vỏ
                li
                    a(href="#tab-6") Giảm xóc
                li
                    a(href="#tab-7") Đèn điện
                li
                    a(href="#tab-8") Cứu hộ
                li
                    a(href="#tab-9") Cắm trại
            #tab-1.tabslet-content
                .product-wrapper
                    .product-list
                        - for(i=1;i<16;i++)
                                .item
                                    .wrap
                                        a(href="#")
                                            figure
                                                .img
                                                    img(src="./img/home/home-product1.png", alt="")
                                                figcaption
                                                    .title
                                                        p Đèn pha led DG-S2 H4 H7
                                                    .price
                                                        .newprice
                                                            p 1.320.000 đ
                                                        .oldprice
                                                            p 1.610.000 đ