section.sanpham-ds.line
    .container
        .main-title
            h2 nắp thùng
        .row
            - for(i=1;i<7;i++)
                .col-sm-6.col-lg-4
                    .item
                        .image
                            img(src="./img/product/1.png", alt="")
                        a(href="#")
                        .title-item ranger