section.service-wrapper
    .container
        .title
            h2 dịch vụ
        .service
            - for(i=1;i<6;i++)
                .item
                    a(href="#")
                        figure
                            .img    
                                img(src="./img/home-service1.png", alt="")
                            figcaption
                                p vệ sinh nội thất
