section.service-wrapper
    .container
        .main-title
            h2 dịch vụ
        .service
            - for(i=1;i<6;i++)
                .item
                    figure
                        a(href="#")
                            .img    
                                img(src="./img/home/home-service1.png", alt="")
                        figcaption
                            a(href="#") vệ sinh nội thất
