section.home-banner
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                a(href="#")
                    img(src="./img/home-banner1.png", alt="")
            .swiper-slide
                a(href="#")
                    img(src="./img/home-banner2.png", alt="") 
            .swiper-slide
                a(href="#")
                    img(src="./img/home-banner3.png", alt="") 
    .nav-wrap
        .container.navigation
            .swiper-prev
                em.lnr.lnr-chevron-left
            .swiper-next
                em.lnr.lnr-chevron-right
    .search-wrap 
        .container.search-box
            .box-title
                h2 tìm theo dòng xe
            .select-wrap
                .select
                    select
                        option(value="0") Tìm năm sản xuất của xe
                        option(value="0") Tìm năm sản xuất của xe
                        option(value="0") Tìm năm sản xuất của xe
                .select
                    select
                        option(value="0") Tìm nhà sản xuất
                .select
                    select
                        option(value="0") Tìm model
                .btn-search
                    a.fas.fa-search(href="#")