header#header
    .header-top
        .container
            .nav
                ul
                    li
                        a(href="#") Về A-Extra
                    li
                        a(href="#") Tin tức
                    li
                        a(href="#") Đối tác
                    li
                        a(href="#") Thư viện
                    li
                        a(href="#") Liên hệ
            .language
                a(href="#")
                    img(src="./img/language.png", alt="")
                    em.mdi.mdi-chevron-down
    .header-bottom
        .container
            .header-wrapper
                .logo
                    a(href="#")
                        img(src="./img/logo.png", alt="")
                .right-wrapper
                    .top-wrapper
                        .search-box
                            input(type="text", placeholder="Tìm kiếm") 
                        .hotline
                    .bottom-wrapper
                        ul
                            li
                                a(href="#") Bảo vệ
                            li
                                a(href="#") Trang trí
                            li
                                a(href="#") Nắp thùng
                            li
                                a(href="#") Mâm vỏ
                            li
                                a(href="#") Giảm xốc
                            li
                                a(href="#") Đèn xe
                            li
                                a(href="#") Cứu hộ
                            li
                                a(href="#") Cắm trại