.header-top
    background: #ebebeb
    .container
        display: flex
        justify-content: flex-end
        padding: 0
        .nav
            ul
                display: flex
                li
                    margin: 0 2rem
                    font-size: 1.4rem
                    line-height: 3rem
                li:first-child
                    margin-left: 0
        .language
            margin-left: 2rem
.header-bottom
    .header-wrapper
        .right-wrapper
            .top-wrapper
                .search-box
                    input
                        border-radius: 1rem
            .bottom-wrapper
                ul
                    display: flex
                    li
                        margin: 0 2rem
                        font-size: 1.4rem
                        line-height: 3rem
                    li:first-child
                        margin-left: 0