section.home-slider
    .container
        .main-slide
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="#")
                            figure
                                .img
                                    img(src="./img/home-slide1.png", alt="")
                                figcaption
                                    h2 Trang trí xe
                                    p Cung cấp những sản phẩm trang trí mới nhất cho nhiều dòng xe của các hãng khác nhau.
                    .swiper-slide
                        a(href="#")
                            figure
                                .img
                                    img(src="./img/home-slide2.png", alt="")
                                figcaption
                                    h2 FITT
                                    p Chinh phục đêm với các sản phẩm chiếu sáng FITT.
            .swiper-next
                em.material-icons arrow_forward
            .swiper-prev
                em.material-icons arrow_back