section
    .footer-top
            .container
                .footer-letter
                    .box-left
                        .icon
                            img(src="./img/home/icon-letter.png", alt="")
                        .content
                            p đăng ký nhận bản tin
                            span Nhận những thông tin về sản phẩm mới, sự kiện và khuyến mãi
                    .box-right
                        input(type="text", placeholder="Nhập Email...")
                        button Đăng ký
                            em.material-icons arrow_forward
footer
    .container
        .footer-wrapper
            .wrapper-top
                .row
                    .col-lg-3.col-sm-6
                        .item
                            figure
                                img(src="./img/home/icon-footer1.png", alt="")
                                figcaption
                                    p 100% chính hãng
                                    span Đối tác uỷ quyền chính thức nhiều thương hiệu hàng đầu
                    .col-lg-3.col-sm-6
                        .item
                            figure
                                img(src="./img/home/icon-footer2.png", alt="")
                                figcaption
                                    p Hỗ hợ tư vấn
                                    span Giải đáp nhanh mọi thắc mắc - yêu cầu từ khách hàng
                    .col-lg-3.col-sm-6
                        .item
                            figure
                                img(src="./img/home/icon-footer3.png", alt="")
                                figcaption
                                    p chính sách đổi trả
                                    span Đảm bảo sự hài lòng của khách hàng với chính sách đa dạng
                    .col-lg-3.col-sm-6
                        .item
                            figure
                                img(src="./img/home/icon-footer4.png", alt="")
                                figcaption
                                    p bảo hành miễn phí
                                    span Áp dụng theo quy định của từng hãng sản phẩm
            .wrapper-bottom
                .row
                    .col-lg-3.col-md-6.border
                        .item
                            p liên hệ
                            span 337 Quốc lộ 13, Phường Hiệp Bình Phước, Quận Thủ Đức, TP. HCM
                            .icon
                                em.mdi.mdi-phone 0919 803 808
                                em.mdi.mdi-email info@extra.com
                    .col-lg-3.col-md-6.border
                        .item
                            p sản phâm
                            .product
                                .box
                                    a(href="#") Bảo vệ
                                    a(href="#") Trang trí
                                    a(href="#") Nắp thùng
                                    a(href="#") Mâm vỏ
                                .box
                                    a(href="#") Giảm xóc
                                    a(href="#") Đèn
                                    a(href="#") Cứu hộ
                                    a(href="#") Cắm trại
                    .col-lg-3.col-md-6.border
                        .item
                            p hỗ trợ khách hàng
                            .support
                                a(href="#") Hướng dẫn đặt hàng
                                a(href="#") Phương thức vận chuyển
                                a(href="#") Chính sách đổi trả
                                a(href="#") Chính sách bảo mật thanh toán
                                a(href="") Chính sách bảo mật thông tin
                    .col-lg-3.col-md-6.border
                        .item
                            p kết nối với chúng tôi
                            .social
                                ul
                                    li.facebook
                                        a(href="#")
                                            em.fab.fa-facebook-f
                                    li.youtube
                                        a(href="#")
                                            em.fab.fa-youtube
                                    li.twitter
                                        a(href="#")
                                            em.fab.fa-twitter
                        .img
                            img(src="./img/icon-footer5.png", alt="")
        .copyright
            p Copyright 2020 by A-Extra. Tất cả các quyền được bảo hộ. Thiết kế website bởi Cánh Cam.
            .rule
                a(href="#") Điều khoản xử dụng
                a(href="#") Chính sách bảo mật    