section.garage
    .container
        .title
            h2 garane
        .row
            - for(i=1;i<9;i++)
                .col-lg-3.col-md-6
                    .item
                        .title-item
                            a(href="#")
                                h3 đại lý a-extra 0#{i}
                                p 156 Lý Thường Kiệt, Phường 10, Quận 11, Tp HCM
        .search
            button Xem thêm
                em.material-icons arrow_forward