section.new-product
    .container
        .main-title
            h2 sản phẩm mới
        .product-wrapper
            .wrap
                .item
                    a(href="#")    
                        .img
                            img(src="./img/home/home-newpd1.png", alt="")
                        .content
                            p Đèn Ironman4x4 90W Thẳng
                .item
                    a(href="#")    
                        .img
                            img(src="./img/home/home-newpd1.png", alt="")
                        .content
                            p Đèn Ironman4x4 90W Thẳng
            .wrap
                .item
                    a(href="#")    
                        .img
                            img(src="./img/home/home-newpd1.png", alt="")
                        .content
                            p Đèn Ironman4x4 90W Thẳng
            .wrap
                .item
                    a(href="#")    
                        .img
                            img(src="./img/home/home-newpd1.png", alt="")
                        .content
                            p Đèn Ironman4x4 90W Thẳng
                .item
                    a(href="#")    
                        .img
                            img(src="./img/home/home-newpd1.png", alt="")
                        .content
                            p Đèn Ironman4x4 90W Thẳng